a:any-link {
	text-decoration: none !important;
}

body {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Product Sans-Bold", sans-serif;
	src: "/resources/fonts/Product Sans Bold.ttf";
	font-weight: bold;
	text-decoration: none;
	color: black;
}

span {
	cursor: pointer;
}

nav {
	margin-top: 5px;
}

.bold {
	font-style: bold;
}

.card{
    margin-top: 10px;
}

.card-text {
	display: inline-block;
	overflow: hidden;
	height: 100px;
}

.card-body {
	height: 200px;
	padding: 0, 0, 0, 0;
}

.footer {
	height: 75px;
	border-top: 1px solid;
	border-color: rgb(189, 189, 189);
}

.navbar-brand {
	margin-left: 15px;
}

.nav-item {
	border-width: 1px;
	border-radius: 30px;
	padding-left: 10px;
}

.nav-item:hover {
	background-color: rgb(243, 243, 243);
}

.material-symbols-outlined {
	margin-top: 7px;
	margin-bottom: 7px;
}

.menuItem {
	position: relative;
	top: -7px;
	left: 8px;
	color: black;
	text-decoration: none;
}

.container {
	text-align: end;
	letter-spacing: 20px;
}

.dropdown-toggle {
	background: none;
	border: 0;
	color: inherit;
	/* cursor: default; */
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-webkit-appearance: button; /* for input */
	-moz-user-select: none;
	-ms-user-select: none;
}

.dropdown-menu {
    display: block;
    white-space: nowrap;
}

.profilePicture {
	border-radius: 50%;
	width: 42px;
	height: 42px;
}

.profileList{
    display: inline;
    grid-auto-flow: column;
}

.noProfileList{
    display: inline;
    grid-auto-flow: column;
}

.dropdown-item{
    margin-left: 50px;
    margin-top: -40px
}

.option{
    margin-top: 25px;
    margin-left: 50px;
    height: 70px;
    width: 300px;
}

.row {

}

#personAdd{
    margin-left: 14px;
    margin-top: -35px;
}

#rightItems {
	margin-right: 25px;
	display: grid;
	grid-auto-flow: column;
}

#icons {
	margin-right: 25px;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 25px;
}

#leftItems {
	margin-left: 25px;
	display: grid;
	grid-auto-flow: column;
}

#classroomSpan {
	margin-left: -10px;
	margin-top: 10px;
}

#bodyContainer {
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 80px;
}